<title>Orders</title><link rel='stylesheet' href='style.css' />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/dealerships-page">Dealerships</a>
    <a class="active" href="/orders-page">Orders</a>
    <a href="/cars-page">Cars</a>
    <a href="/parts-page">Parts</a>
    <a href="/suppliers-page">Suppliers</a>
    <a href="/carparts-page">Cars & Parts</a>
</div>
<div class="content">
    <h1>Orders</h1>
    <table id="orders-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr data-value={{this.order_id}}>
                <td>{{this.order_id}}</td>
                <td>{{this.order_date}}</td>
                <td>{{this.dealership_name}}</td>
                <td><button onclick="deleteOrder({{this.order_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h3>Add an Order</h3>
    <p>To add a new order, please enter their information below and click 'Submit'!</p>
    <form id="add-order-form-ajax">
        <label for="input-order_date">Order Date: </label>
        <input type="date" name="input-order_date" id="input-order_date">

        <label for="input-dealership_id">Select a Dealership: </label>
        <select name="input-dealership_id" id="input-dealership_id">
                <option value="">Select a Dealership</option>
                {{#each dealerships}}
                <option value="{{this.dealership_id}}">{{this.dealership_name}}</option>
                {{/each}}
        </select>

        <input type="submit">
    </form>

    <h3>Search Using an HTML Form</h3>
    <p>Search by Dealership Name using the field below.</p>
    <form id="search-order-html" method='GET' action='/orders-page'>
        <label for="input-dealership_name">Search by Dealership: </label>
        <input type="text" name="dealership_name" id="input-dealership_name-html-search">
        
        <input type="submit">
        <a href='/orders-page'><button>Reset</button></a>
    </form>

    <h3>Updating an Order Form</h3>
    <p>To update an Order select its ID from the drop-down menu on the left and enter its updated data.</p>
    <form id="update-order-form-ajax">

        <label for="input-order_id">Order ID: </label>
        <select name="input-order_id" id="mySelect">
            <option value="test">Select an Order</option>
            {{#each data}}
            <option value="{{this.order_id}}">{{this.order_id}}</option>
            {{/each}}
        </select>

        <label for="input-order_date">Change Order Date: </label>
        <input type="date" id="input-order-date-update" name="input-order-date-update">

        <label for="input-dealership-name">Dealership Name: </label>
        <select name="input-dealership-name-update" id="input-dealership-name-update">
            <option>Select a New Dealership:</option>
            {{#each dealerships}}
            <option value="{{this.dealership_id}}">{{this.dealership_name}}</option>
            {{/each}}
        </select>

        <input type="submit">

    </form>
</div>



{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/update_order.js"></script>
<script src="./js/add_order.js"></script>
<script src="./js/delete_order.js"></script>