<title>Suppliers</title><link rel='stylesheet' href='style.css' />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/dealerships-page">Dealerships</a>
    <a href="/orders-page">Orders</a>
    <a href="/cars-page">Cars</a>
    <a href="/parts-page">Parts</a>
    <a class="active" href="/suppliers-page">Suppliers</a>
    <a href="/carparts-page">Cars & Parts</a>
</div>
<div class="content">
    <h1>Suppliers</h1>
    <table id="suppliers-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr data-value={{this.supplier_id}}>
                <td>{{this.supplier_id}}</td>
                <td>{{this.supplier_name}}</td>
                <td>{{this.supplier_email}}</td>
                <td>{{this.supplier_phone}}</td>
                <td><button onclick="deleteSupplier({{this.supplier_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h3>Add a Supplier</h3>
    <p>To add a new supplier, please enter its information below and click 'Submit'!</p>
    <form id="add-supplier-form-ajax">
        <label for="input-supplier_name">Supplier Name: </label>
        <input type="text" name="input-supplier_name" id="input-supplier_name">

        <label for="input-supplier_email">Supplier Email: </label>
        <input type="text" name="input-supplier_email" id="input-supplier_email">
        
        <label for="input-supplier_phone">Supplier Phone: </label>
        <input type="text" name="input-supplier_phone" id="input-supplier_phone">

        <input type="submit">
    </form>

    <h3>Search Using For a Supplier</h3>
    <p>Search by supplier name using the field below.</p>
    <form id="search-supplier-html" method='GET' action='/suppliers-page'>
        <label for="input-supplier_name">Search by Name: </label>
        <input type="text" name="supplier_name" id="input-supplier_name-html-search">
        
        <input type="submit">
        <a href='/suppliers-page'><button>Reset</button></a>
    </form>

    <h3>Updating A Supplier Form</h3>
    <p>To update a supplier select its ID from the drop-down menu on the left and enter its updated data.</p>
    <form id="update-supplier-form-ajax">

        <label for="input-supplier_id">Supplier ID: </label>
        <select name="input-supplier_id" id="mySelect">
            <option value="test">Select a Supplier</option>
            {{#each data}}
            <option value="{{this.supplier_id}}">{{this.supplier_id}}</option>
            {{/each}}
        </select>

        <label for="input-supplier_name">Supplier Name: </label>
        <input type="text" name="input-supplier_name-update" id="input-supplier_name-update">

        <label for="input-supplier_email">Supplier Email: </label>
        <input type="text" name="input-supplier_email-update" id="input-supplier_email-update">
        
        <label for="input-supplier_phone">Supplier Phone: </label>
        <input type="text" name="input-supplier_phone-update" id="input-supplier_phone-update">

        <input type="submit">
    </form>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/update_supplier.js"></script>
<script src="./js/add_supplier.js"></script>
<script src="./js/delete_supplier.js"></script>